.teams {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: $slack-purple-dark;
  color: #fff;
  padding-top: 1rem;

  &>ul {
    height: 100%;
  }

  &__container {
    height: 4rem;
    width: 4rem;
    background-color: rgb(163, 158, 158);
    padding-top: 1.2rem;
    padding-left: 1.4rem;
    border-radius: 5px;
    margin-bottom: 2.5rem;
    margin-left: 1.4rem;
    color: black;
    border: solid rgb(163, 158, 158) 1px;

    &:hover {
      transition: all .3s;
      border: solid rgb(198, 199, 165) 2px;
      background-color: rgb(214, 214, 214);
    }
  }

  &__addChannel {
    margin-left: 1.4rem;


    &>i {
      border-radius: 5px;
      text-align: center;
      padding-top: 1rem;
      height: 4rem;
      width: 4rem;
      background-color: rgb(163, 158, 158);
      font-size: 2.2rem;
      color: $slack-purple-dark;

      &:hover {
        transition: all .3s;
        background-color: rgb(214, 214, 214);
      }
    }


  }
}